.aboutme {
    font-size: 20px;
}

.aboutmee {
    border-bottom: 10px;
    border-bottom-color: black;
}

.heading {
    color: red;
}

.A1 {
    color: aqua;
}
 
.note {
    color: red;
}
.Course3d{
    color:green;
}

.black {
    color: black;
}
.course{
    color:green;
}
.course1{
    color:green;
}