.aboutme{
    font-size: 20px;
}
.aboutmee{
    border-bottom: 10px;
    border-bottom-color: black;
}
.heading{
    color: red;
}
.note{
    color:red
}
 



.boldnote{
    color: black;
}
.main1{
   color: blue;
}
.A1{
    color: green;
}
.A2{
    color: green;
}
.A3{
    color: green;
}
.A4{
    color: green;
}
.github{
    color: black;
}
.A5{
    color: green;
}
.A6{
    color: green;
}
.A7{
    color: green;
}
.A8{
    color: green;
}
.A9{
    color: green;
}
.main2{
    color: blue;
}
.B1{
    COLOR:green
}
.B2{
    COLOR:green
}
.B3{
    COLOR:green
}
.B4{
    COLOR:green
}
.B5{
    COLOR:green
}
.B6{
    COLOR:green
}
.B7{
    COLOR:green
}
.B8{
    COLOR:green
}
.B9{
    COLOR:green
}
.main3{
    color:blue
}