.aboutme{
    font-size: 20px;
}
.heading{
    color: red;
}
.note{
    color:red
}
.boldnote{
    color: black;
}.main1{
   color: blue;
}
.one{
    color: green;
}
.github{
    color: black;
}