.note {
    color: red;
}

.github {
    color: black;
}

.A1 {
    color: green;
}

.A2 {
    color: green;
}

.A3 {
    COLOR: green;
}

.A4 {
    color: green;
}

.A5 {
    color: green;
}

.A6 {
    color: green;
}

.A7 {
    color: green;
}

.A8 {
    color: green;
}