.note {
    color: red;
}

.github {
    color: black;
}

.A1 {
    color: green;
}

.A2 {
    color: green;
}

.A3 {
    COLOR: green;
}

.A4 {
    color: green;
}

.A5 {
    color: green;
}

.A6 {
    color: green;
}

.A7 {
    color: green;
}

.A8 {
    color: green;
}

.A9 {
    color: green;
}

.A10 {
    color: green;
}

.A11 {
    color: green;
}

.A12 {
    COLOR: green;
}

.B1 {
    color: green;
}

.B2 {
    color: grey;
}

.B3 {
    color: grey;
}

.B4 {
    color: grey;
}

.C1 {
    color: grey;
}

.C2 {
    color: grey;
}

.C3 {
    color: grey;
}

.C4 {
    color: grey;
}

.D1 {
    color: grey;
}

.D2 {
    color: grey;
}

.D5 {
    COLOR: grey;
}

.D4 {
    color: grey;
}

.D3 {
    color: grey;
}

.D4 {
    COLOR: grey;
}

.D5 {
    COLOR: grey;
}

.E1 {
    color: grey;
}