.aboutme {
    font-size: 20px;
}

.aboutmee {
    border-bottom: 10px;
    border-bottom-color: black;
}

.heading {
    color: red;
}

.course1 {
    color: black;
}

.course {

    color: black;
}

.note {
    color: red;
}

.black {
    color: black;
}

.main1 {
    color: blue;
}

.A1 {
    color: green;
}

.A2 {
    color: green;
}

.A3 {
    color: green;
}

.A4 {
    color: green;
}

.github {
    color: black;
}

.A5 {
    color: green;
}

.A6 {
    color: green;
}

.A7 {
    color: green;
}

.A8 {
    color: green;
}

.A9 {
    color: green;
}

.main2 {
    color: blue;
}

.B1 {
    COLOR: green
}

.B2 {
    COLOR: green
}

.B3 {
    COLOR: green
}

.B4 {
    COLOR: green
}

.B5 {
    COLOR: green
}

.B6 {
    COLOR: green
}

.B7 {
    COLOR: green
}

.B8 {
    COLOR: green
}

.B9 {
    COLOR: green
}

.C1 {
    COLOR: green
}

.C2 {
    color: green;
}

.C3 {
    color: green;
}

.C4 {
    color: green;
}

.C5 {
    color: green;
}

.C6 {
    color: green;
}

.D1 {
    color: green;
}

.D2 {
    color: green;
}

.D3 {
    color: green;
}

.D4 {
    color: green;
}

.D5 {
    color: green;
}

.D6 {
    color: green;
}

.D7 {
    color: green;
}

.E1 {
    color: green;
}

.E2 {
    COLOR: green
}

.E3 {
    color: gray;
}

.E4 {
    color: gray;
}

.E5 {
    color: gray;
}

.E6 {
    color: gray;
}

.E7 {
    color: gray;
}

.E8 {
    color: gray;
}

.main3 {
    color: blue
}

.main4 {
    color: blue;
}

.main5 {
    color: blue;
}